name: Go build and test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  K8S_VERSION: "1.23"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Build
        run: go build -v ./...

      - name: Install setup-envtest
        run: go install sigs.k8s.io/controller-runtime/tools/setup-envtest@latest

      - name: Download envtest binaries
        run: |
          ENVTEST_ASSETS_DIR=$(setup-envtest use ${K8S_VERSION} -p path)
          echo "KUBEBUILDER_ASSETS=${ENVTEST_ASSETS_DIR}" >> $GITHUB_ENV

      - name: Test
        run: go test -v ./...
